@tailwind base;
@tailwind components;
@tailwind utilities;


.url-img-1 {
  background-image: url('/cover-fotos/hero-arg.jpeg');
}
.url-img-2 {
  background-image: url('/cover-fotos/hero-sud.jpeg');
}
.url-img-3 {
  background-image: url('/cover-fotos/hero-cen.jpeg');
}
.url-img-4 {
  background-image: url('/cover-fotos/hero-libros.jpeg');
}
.url-img-5 {
  background-image: url('/cover-fotos/hero-contacto.jpeg');
}


/************ BUTTONS ************/

.hero-button {
  padding: .3rem 3rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  border: 1.5px solid rgba(0, 0, 0, 0.7);
  border-radius: .7rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  transition: ease-in-out;
  transition-duration: 200ms;
}

:hover.hero-button {
  background-color: rgba(255, 255, 255, 0.2);
}


.cart-button {
  padding: .3rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: .7rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  transition: ease-in-out;
  transition-duration: 200ms;
}

:hover.cart-button {
  background-color: rgba(0, 0, 0, 0.3);
}

/************************************************/
/************************************************/

.sidebar {
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
}


.gradient {
  background-image: linear-gradient(to top, rgb(0 0 0 /.8), rgb(0 0 0 /.5)), url('/cover-fotos/footer-cover.jpeg');
  background-position: center left;
  background-size: cover;
}